.header {
  position: relative;
  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 15.4vw;
  background: #ffffff url(../../images/illustration-working.svg) no-repeat 120% 52%/ 51.9% auto;
}

@media screen and (max-width: 670px) {
  .header {
    background: #FFFFFF url(../../images/illustration-working.svg) no-repeat 26px 122px/ 494px auto;
    padding-bottom: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
