.button {
  background-color: #2BD0D0;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  padding: 0;
  border: none;
  transition: background-color .2s linear;
}

.button:hover {
  background-color: #9AE3E3;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

/* Пока так */
.button:active {
  background-color: rgba(58, 48, 84, 1);
 }
