.header__title {
  padding-top: 9.65%;
  margin: 0;
  max-width: 565px;
  min-width: 327px;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 1.12;
  letter-spacing: -2px;
  color: #34313D;
}

@media screen and (max-width: 1440px) {
  .header__title {
    font-size: 5.56vw;
    max-width: 44.3%;
  }
}

@media screen and (max-width: 755px) {
  .header__title {
    font-size: 42px;
    line-height: 1.14;
    letter-spacing: -1.05px;
  }
}

@media screen and (max-width: 670px) {
  .header__title {
    text-align: center;
    padding-top: 403px;
  }
}
