.header__list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 37px;
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 670px) {
  .header__list {
    display: none;
    margin: 0;
    min-width: 327px;
    padding: 40px 0;
    position: absolute;
    top: 95px;
    right: 24px;
    background-color: #3A3054;
    border-radius: 10px;
    position: absolute;
    flex-direction: column;
    align-items: center;
  }
}
